.profile-container {

  display: flex;

  justify-content: center;

  align-items: center;

  padding: 50px 20px;
}

.profile-card {

  width: 500px;

  background: white;

  border-radius: 25px;

  overflow: hidden;

  box-shadow:
    0 5px 20px rgba(0,0,0,0.15);
}

.profile-header {

  background:
    linear-gradient(
      to right,
      #1b5e20,
      #43a047
    );

  color: white;

  text-align: center;

  padding: 40px 20px;
}

.profile-avatar {

  width: 90px;

  height: 90px;

  background: white;

  color: #1b5e20;

  border-radius: 50%;

  display: flex;

  justify-content: center;

  align-items: center;

  margin: auto;

  font-size: 38px;

  font-weight: bold;

  margin-bottom: 15px;
}

.profile-info {

  padding: 30px;

  display: grid;

  grid-template-columns:
    repeat(auto-fit,minmax(200px,1fr));

  gap: 20px;
}

.info-box {

  background: #f1f8f2;

  padding: 20px;

  border-radius: 15px;
}

.info-box h3 {

  color: #1b5e20;

  margin-bottom: 8px;
}